import styles from "./{{pascalCase name}}.module.css";

export interface I{{pascalCase name}}Props {}

export function {{pascalCase name}}(props: I{{pascalCase name}}Props) {
  return (
   <div>{{pascalCase name}}</div>
  );
}